/* loading */

.loading {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.wh {
    width: 100%;
    height: 100%;
}

.pos {
    position: absolute;
}

.hide {
    display: none;
}
.ani{
    position: absolute;
    width:100%;
    height:auto;
    display: none;

}